.comments-container {
  display: none;
}

.show {
  display: block;
}

.comments {
  margin-left: 30px;
}

.btn-primary {
  margin-left: 10px;
  font-size: 11px;
  padding: 0 13px;
  height: 26px;
}
.remove , .remove_comment{
  color: red;
}
